.navbar {
    --navbar-height: 4.25rem;
    &.navbar-expand .navbar-nav {
        .nav-link {
            font-weight: normal;
            font-size: 1rem;
            color: $white;
        }
    }
    &.scrolled {
        background-color: $black-45;
    }
    .navbar-brand {
        padding: 0;
    }
}

.navbar-toggler {
    width: 35px;
    &:focus {
        box-shadow: none;
    }
    .toggler-expanded {
        display: block;
    }
    .toggler-collapsed {
        display: none;
    }
    &.collapsed {
        .toggler-expanded {
            display: none;
        }
        .toggler-collapsed {
            display: block;
        }
    }
}

.navbar-toggler {
    z-index: 1000;
}

.navbar-brand,
.navbar-toggler {
    .when-scrolled {
        display: none;
    }
    .when-not-scrolled {
        display: block;
    }
}

.navbar-collapse {
    justify-content: space-between;
    &.disable-animation.collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
    @include media-breakpoint-down(lg) {
        background-color: $black-66;
        &.show,
        &.collapsing {
            opacity: 1;
            background-color: $black-66;
            display: block;
            .navbar-nav>li {
                .nav-link {
                    color: white;
                }
            }
        }
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-content: center;
        text-align: center !important;
        &.collapse {
            opacity: 0;
            pointer-events: none;
        }
        &.collapsing[style*="height"] {
            opacity: 1;
            min-height: 100vh !important;
        }
        &.collapsing {
            opacity: 0;
            min-height: 100vh;
        }
        &.collapse.show {
            opacity: 1;
            pointer-events: auto;
            min-height: calc(100vh - 8.625rem);
        }
        .navbar-nav {
            margin-right: initial !important;
            @include media-breakpoint-down(xl) {
                width: 100%;
            }
        }
    }
}
