.navbar {
    --navbar-height: 4.25rem;
    &.navbar-expand .navbar-nav {
        .nav-link {
            font-weight: normal;
            font-size: 1rem;
            color: $white;
        }
    }
    &.scrolled {
        background-color: $dark;
    }
}
