.navbar {
    --navbar-height: 4.25rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-border-width: 0;
    &.navbar-expand .navbar-nav {
        .nav-link {
            font-weight: normal;
            font-size: 1rem;
            color: $white;
        }
    }
    &.scrolled {
        background-color: $black-45;
    }
    .navbar-brand {
        padding: 0;
    }
}
