@import './theme/theme';
.hero {
    background-image: url('../assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem 0 10rem 0;
    @include media-breakpoint-down(lg) {
        padding: 3rem 0 5rem 0;
    }
}

.models-section {
    padding: 5.813rem 0 10rem 0;
    @include media-breakpoint-down(lg) {
        padding: 3rem 0 5rem 0;
    }
}

.learn-more-section {
    background-color: $grey;
    padding: 3.75rem 0 3.75rem 0;
}

.img-fluid {
    background-color: $white-249;
    height: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(lg) {
        height: 14rem;
    }
}

.arrow-right {
    position: relative;
    &::before {
        content: "";
        display: block;
        background-image: url('../assets/images/arrow-right.svg');
        background-repeat: no-repeat;
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}
